/*-----------------------Pantalla--------------------*/
#pantalla{
    border: 1px solid black;
    border-radius: 5%;
    height: 3rem;
    width: 95%;
    background-color: lightgray;
    padding: 2%;
}
#operador_1{
    font-size: xx-large;   
    text-align: right;
}
#operador_2{
    font-size: medium;
    text-align: right;
}

/* ----------------------Cuerpo y teclas ------------*/
.calculadora{
    background-color: rgb(99, 93, 93);
    height: 29rem;
    width: 21rem;
    padding: 1%;
    border-radius: 2%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.teclas{
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
}
.tecla{
    background-color: antiquewhite;
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
    font-size: large;
    margin: 2%;
}
.tecla_op{
    background-color: rgb(161, 156, 147);
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
    font-size: large;
    margin: 2%;
}
.tecla_igual{
    background-color: rgb(65, 99, 37);
    width: 18rem;
    height: 4rem;
    border-radius: 6%;
    font-size: large;
    margin: 2%;
}